.delete-button {
    background: red;
}

.item-container {
    width: 300px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: left;
}

.input-container {
    width: 300px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"] {
    width: 265px;
    height: 25px;

    font-size: 18px;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;

    margin-left: 0;
    margin-right: 5px;
}

button {
    width: 25px;
    height: 25px;

    margin-left: 5px;
    font-size: 18px;

    box-shadow: none;
    border: 1px solid dimgrey;
    border-radius: 5px;
    color: WhiteSmoke;
}

.add-button {
    background: green;

    margin-left: 2px;
}

span {
    width: 250px;
    font-size: 26px;
}

.strikethrough-line {
    text-decoration: line-through;
}

form {
    display: flex;
}



