.add-button {
}

.item-container {
    width: 300px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: left;
}

.input-container {
    width: 300px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"] {
    width: 270px;
    height: 25px;

    font-size: 18px;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

button {
    width: 25px;
    height: 25px;

    margin-left: 5px;
    font-size: 18px;
}

span {
    width: 250px;
    font-size: 26px;
}