<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shopping List</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1>Список покупок:</h1>
<div id="container" class="container">
</div>
<div id="input-container" class="input-container">
    <input id="input-item" type="text">
    <button onclick="writeItem()">+</button>
</div>
<script src="/js/main.js"></script>
</body>
</html>